{{/* Giscus Comments */}}
{{/* Configure at https://giscus.app/ and update the values below */}}

<div class="giscus-comments mt-8 pt-8 border-t border-neutral-200 dark:border-neutral-700">
  <h2 class="text-xl font-bold mb-4">Comments</h2>

  <script src="https://giscus.app/client.js"
          data-repo="zippy/blog-static"
          data-repo-id="R_kgDOQx0bgg"
          data-category="Blog Comments"
          data-category-id="DIC_kwDOQx0bgs4C0b3_"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>

  <noscript>
    <p class="text-neutral-600 dark:text-neutral-400">
      Please enable JavaScript to view the comments powered by Giscus.
    </p>
  </noscript>
</div>
